USE [master]
GO
/****** Object:  Database [ActivityManageDB]    Script Date: 24.01.2026 16:23:01 ******/
CREATE DATABASE [ActivityManageDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ActivityManageDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ActivityManageDB]
GO
/****** Object:  Table [dbo].[Cтраны]    Script Date: 24.01.2026 16:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cтраны](
	[CountryName] [nvarchar](100) NOT NULL,
	[EnglishName] [nvarchar](50) NOT NULL,
	[CodeLetter] [nvarchar](50) NOT NULL,
	[Code] [int] NOT NULL IDENTITY(0,1),
 CONSTRAINT [PK_Cтраны] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Активности]    Script Date: 24.01.2026 16:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Активности](
	[ID] [int] NOT NULL IDENTITY(0,1),
	[EventID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Day] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[Moderator] [int] NOT NULL,
 CONSTRAINT [PK_Активности] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Города]    Script Date: 24.01.2026 16:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Города](
	[ID] [int] NOT NULL IDENTITY(0,1),
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Города] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЖюриАктивностей]    Script Date: 24.01.2026 16:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЖюриАктивностей](
	[ActivityID] [int] NOT NULL,
	[JuryID] [int] NOT NULL,
 CONSTRAINT [PK_ЖюриАктивностей] PRIMARY KEY CLUSTERED 
(
	[ActivityID] ASC,
	[JuryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Мероприятия]    Script Date: 24.01.2026 16:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Мероприятия](
	[ID] [int] NOT NULL IDENTITY(0,1),
	[Name] [nvarchar](150) NOT NULL,
	[Date] [nvarchar](50) NOT NULL,
	[NumberOfDays] [int] NOT NULL,
	[CityID] [int] NOT NULL,
	[WinnerID] [int] NULL,
 CONSTRAINT [PK_Мероприятия] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пол]    Script Date: 24.01.2026 16:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пол](
	[ID] [int] NOT NULL IDENTITY(0,1),
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Пол] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 24.01.2026 16:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID] [int] NOT NULL IDENTITY(0,1),
	[FIO] [nvarchar](150) NOT NULL,
	[GenderID] [int] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[CountryID] [int] NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Direction] [nvarchar](150) NULL,
	[Event] [nvarchar](150) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[PhotoPath] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 24.01.2026 16:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[ID] [int] NOT NULL IDENTITY(0,1),
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cтраны] OFF;
GO
SET IDENTITY_INSERT [dbo].[Активности] OFF;
GO
SET IDENTITY_INSERT [dbo].[Города] OFF;
GO
SET IDENTITY_INSERT [dbo].[ЖюриАктивностей] OFF;
GO
SET IDENTITY_INSERT [dbo].[Мероприятия] OFF;
GO
SET IDENTITY_INSERT [dbo].[Пол] OFF;
GO
SET IDENTITY_INSERT [dbo].[Пользователи] OFF;
GO
SET IDENTITY_INSERT [dbo].[Роли] OFF;
GO


SET IDENTITY_INSERT [dbo].[Cтраны] ON;
GO

INSERT [dbo].[Cтраны] ([CountryName], [EnglishName], [CodeLetter], [Code]) VALUES (N'Афганистан', N'Afghanistan', N'AF', 4)
INSERT [dbo].[Cтраны] ([CountryName], [EnglishName], [CodeLetter], [Code]) VALUES (N'Албания', N'Albania', N'AL', 8)
INSERT [dbo].[Cтраны] ([CountryName], [EnglishName], [CodeLetter], [Code]) VALUES (N'Антарктида', N'Antarctica', N'AQ', 10)
GO
SET IDENTITY_INSERT [dbo].[Cтраны] OFF;
SET IDENTITY_INSERT dbo.Активности ON;

INSERT [dbo].[Активности] ([ID], [EventID], [Name], [Day], [StartTime], [Moderator]) VALUES (0, 3, N'Лидерство в бизнесе', 1, CAST(N'09:00:00' AS Time), 0)
INSERT [dbo].[Активности] ([ID], [EventID], [Name], [Day], [StartTime], [Moderator]) VALUES (1, 3, N'Технология принятия решений', 2, CAST(N'10:45:00' AS Time), 1)
INSERT [dbo].[Активности] ([ID], [EventID], [Name], [Day], [StartTime], [Moderator]) VALUES (2, 3, N'Искусство коучинга', 2, CAST(N'12:30:00' AS Time), 2)
GO
SET IDENTITY_INSERT dbo.Активности OFF;
GO
SET IDENTITY_INSERT dbo.Города ON;
GO

INSERT [dbo].[Города] ([ID], [Name]) VALUES (1, N'Абаза')
INSERT [dbo].[Города] ([ID], [Name]) VALUES (2, N'Абакан')
INSERT [dbo].[Города] ([ID], [Name]) VALUES (3, N'Абдулино')
GO
SET IDENTITY_INSERT dbo.Города OFF;
GO
SET IDENTITY_INSERT dbo.ЖюриАктивностей ON;
GO

INSERT [dbo].[ЖюриАктивностей] ([ActivityID], [JuryID]) VALUES (0, 21)
INSERT [dbo].[ЖюриАктивностей] ([ActivityID], [JuryID]) VALUES (0, 26)
INSERT [dbo].[ЖюриАктивностей] ([ActivityID], [JuryID]) VALUES (0, 27)
GO
SET IDENTITY_INSERT dbo.ЖюриАктивностей OFF;
GO
SET IDENTITY_INSERT dbo.Мероприятия ON;
GO

INSERT [dbo].[Мероприятия] ([ID], [Name], [Date], [NumberOfDays], [CityID], [WinnerID]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', N'26 октября 2022 г.', 1, 34, NULL)
INSERT [dbo].[Мероприятия] ([ID], [Name], [Date], [NumberOfDays], [CityID], [WinnerID]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', N'14 июля 2022 г.', 3, 34, NULL)
INSERT [dbo].[Мероприятия] ([ID], [Name], [Date], [NumberOfDays], [CityID], [WinnerID]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', N'9 ноября 2023 г.', 2, 2, 0)
GO
SET IDENTITY_INSERT dbo.Мероприятия OFF;
GO
SET IDENTITY_INSERT dbo.Пол ON;
GO

INSERT [dbo].[Пол] ([ID], [Name]) VALUES (0, N'мужской')
INSERT [dbo].[Пол] ([ID], [Name]) VALUES (1, N'женский')
GO
SET IDENTITY_INSERT dbo.Пол OFF;
GO
SET IDENTITY_INSERT dbo.Пользователи ON;
GO

INSERT [dbo].[Пользователи] ([ID], [FIO], [GenderID], [Email], [DateOfBirth], [CountryID], [PhoneNumber], [Direction], [Event], [Password], [PhotoPath], [RoleID]) VALUES (0, N'Царева Виктория Давидовна', 1, N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03' AS Date), NULL, N'7(567)103-73-32', N'ИТ', N'IT в бизнесе', N'FYi396Dd5u', N'foto9.jpg', 1)
INSERT [dbo].[Пользователи] ([ID], [FIO], [GenderID], [Email], [DateOfBirth], [CountryID], [PhoneNumber], [Direction], [Event], [Password], [PhotoPath], [RoleID]) VALUES (1, N'Зорин Дмитрий Маркович', 0, N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07' AS Date), NULL, N'7(79)644-01-06', N'ИТ', N'IT в бизнесе', N'7gi7E8K4Ng', N'foto10.jpg', 1)
INSERT [dbo].[Пользователи] ([ID], [FIO], [GenderID], [Email], [DateOfBirth], [CountryID], [PhoneNumber], [Direction], [Event], [Password], [PhotoPath], [RoleID]) VALUES (2, N'Зотова Анна Тимуровна', 1, N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21' AS Date), NULL, N'7(488)643-19-98', N'Биг Дата', N'Разработка приложений', N'3L3eA5eEg3', N'foto8.jpg', 1)
GO
SET IDENTITY_INSERT dbo.Пользователи OFF;
GO
SET IDENTITY_INSERT dbo.Роли ON;
GO

INSERT [dbo].[Роли] ([ID], [Name]) VALUES (0, N'Жюри')
INSERT [dbo].[Роли] ([ID], [Name]) VALUES (1, N'Модераторы')
INSERT [dbo].[Роли] ([ID], [Name]) VALUES (2, N'Организаторы')
GO
SET IDENTITY_INSERT dbo.Роли OFF;
GO
ALTER TABLE [dbo].[Активности]  WITH CHECK ADD  CONSTRAINT [FK_Активности_Мероприятия] FOREIGN KEY([EventID])
REFERENCES [dbo].[Мероприятия] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Активности] CHECK CONSTRAINT [FK_Активности_Мероприятия]
GO
ALTER TABLE [dbo].[ЖюриАктивностей]  WITH CHECK ADD  CONSTRAINT [FK_ЖюриАктивностей_Активности] FOREIGN KEY([ActivityID])
REFERENCES [dbo].[Активности] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ЖюриАктивностей] CHECK CONSTRAINT [FK_ЖюриАктивностей_Активности]
GO
ALTER TABLE [dbo].[ЖюриАктивностей]  WITH CHECK ADD  CONSTRAINT [FK_ЖюриАктивностей_Пользователи] FOREIGN KEY([JuryID])
REFERENCES [dbo].[Пользователи] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ЖюриАктивностей] CHECK CONSTRAINT [FK_ЖюриАктивностей_Пользователи]
GO
ALTER TABLE [dbo].[Мероприятия]  WITH CHECK ADD  CONSTRAINT [FK_Мероприятия_Города] FOREIGN KEY([CityID])
REFERENCES [dbo].[Города] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Мероприятия] CHECK CONSTRAINT [FK_Мероприятия_Города]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Cтраны] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Cтраны] ([Code])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Cтраны]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Пол] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Пол] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Пол]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Роли] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Роли] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Роли]
GO
USE [master]
GO
